<!doctype html>
<html ng-app>
	<head>
		<title>Mastermind</title>
		<link rel="stylesheet" type="text/css" href="style.min.css">
		<script src="http://code.angularjs.org/1.2.0-rc.2/angular.min.js"></script>
		<script src='script.js'></script>  
	</head>
	<body>
		<div id="top-area"><span id="title"><strong>MASTER</strong>MIND</span><span id="author">developed by <a href="http://dimi.io/" target="_blank">Dimitri Walters</a></span></div>
		<div id="game" ng-controller="MastermindCntl">
			<div id="guessing-area">
				<form id="guessing-input" ng-submit="checkGuess()">
					Guess:
					<input id="guessing-textbox" type="text" maxlength="4" ng-model="number" ng-keyup="validNumber()" ng-disabled="done" />
					<button id="submit-guess" type="submit" ng-disabled="done">Make a guess</button>
					<span id="error-message">{{ errorMessage }}</span>
				</form>
			</div>
			<div id="guesses-area">
				Guesses:
				<div ng-repeat="guess in guesses">{{ guess.code }}</div>
			</div>
			<div id="button-area">
				<button ng-click="showCode()" ng-disabled="done">Show code</button>
				<button ng-click="resetGame()">New game</button>
			</div>
			<p id="bottom-message">{{ bottomMessage }}</p>
		</div>
		<div id="instructions">
			<p>Insturctions: Guess a 4-digit number using the numbers 1 through 9. If your guess matches the code, you win! Otherwise you will be told how many of your digits matches the code (denoted by 'correct'), and how many digits are in the code but in the wrong position (denoted by 'wrong'). The code's digits are unique.</p>
		</div>
	</body>
</html>