body {
  margin: 0 auto;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  background-color: #ddd;
  width: 572px;
  min-width: 572px;
}


button {
  line-height: 20px;
  font-size: 14px;
}


a {
  color: black;
}
